@model dynamic
@{
    ViewBag.Title = "ATM";
}

<div class="row">
    <br/>
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("VerifyPin", "Home"))
        {
            <div>
                <label>Pin Number</label>
                <input type="text" name="inputValue" value="@ViewBag.InputValue"/>
                <input type="submit" value="Ok" />
            </div>
        }
    </div>
</div>